@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

header,
footer,
main {
  @apply p-4;
}

header {
  @apply bg-blue-500 text-white shadow-md;
}

footer {
  position: fixed;
  bottom: 0;
  @apply w-full bg-blue-500 text-white border-t;
}

section {
  @apply p-4;
}

h1 {
  @apply text-5xl mb-2;
}

form {
  margin: 0;
  padding: 0;
}

input {
  @apply text-base font-medium border rounded-sm p-2;
}

.no-wrap {
  white-space: nowrap;
}

.button {
  @apply text-base font-medium border rounded-md p-2;
}
.button--primary {
  @apply text-black;
}
.button--clear::before {
  content: "❌";
}
.button--danger {
  @apply bg-red-500 text-white;
}

.alert {
  @apply text-base font-medium rounded-sm p-2;
}
.alert--info {
  @apply bg-blue-500 text-white;
}
.alert--danger {
  @apply bg-red-500 text-white;
}

.todo--list {
  @apply space-y-2;
}

li.todo--item {
  @apply flex mb-4 p-1 space-x-1 border shadow-sm;
}
li.todo--item:last-child {
  @apply mb-0;
}
