{% if todos %}
  <div class="alert alert--info mb-4">
    {{ todos|length }} thing{% if todos|length != 1 %}s{% endif %} to do
  </div>
{% else %}
  <div class="alert alert--danger">Nothing to do!</div>
{% endif %}

<ul class="todo--list">
  {% for todo in todos %}
    {% include "todos/item.html" with todo=todo %}
  {% endfor %}
</ul>
