<li class="todo--item {% if todo.completed %}bg-gray-200{% endif %}">
  <form
    class="flex-grow"
    hx-patch="{% url 'todo-detail' pk=todo.id %}"
    hx-target="closest li.todo--item"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <input
      name="title"
      value="{{ todo.title }}"
      class="w-full"{% if todo.completed %} disabled="disabled"{% endif %}
    />
  </form>

  <form
    hx-patch="{% url 'todo-detail' pk=todo.id %}"
    hx-target="closest li.todo--item"
    hx-swap="outerHTML"
  >
    <input
      name="completed"
      type="hidden"
      value="{% if todo.completed %}false{% else %}true{% endif %}"
    />
    <button
      type="submit"
      title="{% if todo.completed %}Mark not completed{% else %}Mark completed{% endif %}"
      class="button button--primary"
    >
      {% if todo.completed %}✅{% else %}☑️{% endif %}
    </button>
  </form>

  <form
    hx-delete="{% url 'todo-detail' pk=todo.id %}"
    hx-target="#todo-list-container"
  >
    <input type="hidden" name="method" value="delete">
    <button
      type="submit"
      title="Delete this todo"
      class="button button--clear"
    ></button>
  </form>

  <div class="py-2">
    {{ todo.created }}
  </div>
</li>
