{% extends "base.html" %}

{% block main %}
  <form
    class="flex flex-col items-center mb-4"
    hx-post="{% url 'todo-list' %}"
    hx-target=".todo--list"
    hx-swap="afterbegin"
  >
    <input
      name="title"
      autofocus
      required
      placeholder="What needs doing?"
      class="w-full"
    />

    <div class="htmx-indicator text-lg text-bold font-bold">...</div>
  </form>

  <div id="todo-list-container">
    {% include "todos/items.html" with todos=todos %}
  </div>
{% endblock %}
