<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todos</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>

  <body>
    <header>
      <h1>Todos</h1>
    </header>

    <main>{% block main %}{% endblock %}</main>

    <footer>&copy; 2022</footer>

    <script src="{% static 'htmx.org/dist/htmx.js' %}"></script>

    <script>
      document.body.addEventListener("htmx:configRequest", function (event) {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
      });
    </script>
  </body>
</html>
